 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">The End Black on Black Crime Project
                   <!--  <small>Subheading</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><%=link_to 'Home', welcome_path %>
                    </li>  
                    <li>Can The “Dream of King” Improve Police/Community Relations?</li>
                     &nbsp;
                    <%= link_to '(part 1 of 5)', 'http://thesource.com/2015/01/02/can-the-dream-of-king-improve-police-community-relations-part-1-of-5', target: '_blank', class: "active" %>
                     &middot; &nbsp;
                    <%= link_to '(part 2 of 5)', 'http://thesource.com/2015/01/05/poverty-the-police-and-the-community-part-2-of-5', target: '_blank', class: "active" %>
                     &middot; &nbsp;
                    <%= link_to '(part 3 of 5)', 'http://thesource.com/2015/01/06/dr-king-poverty-police-and-the-community-part-3-of-5', target: '_blank', class: "active" %>
                     &middot; &nbsp;
                    <%= link_to '(part 4 of 5)', 'http://thesource.com/2015/01/13/we-can-improve-police-and-community-relations-by-ending-black-on-black-crime-part-4-of-5', target: '_blank', class: "active" %>
                     &middot; &nbsp;
                    <%= link_to '(part 5 of 5)', 'http://thesource.com/2015/01/15/can-black-stars-end-black-on-black-crime-and-build-bridges-between-the-police-and-community-part-5-of-5', target: '_blank', class: "active" %>
                    
                    <!-- <li class="active">Sidebar Page</li> -->
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            
                <%= render 'shared/sidebar_projects' %>

            <!-- Content Column -->
            <div class="col-md-9">
                <div class="stylestatic">
                    <h3 class="stylestatic">A Time of Crisis</h3>
		
										<p>
											In 2014, the deaths of Michael Brown and Eric Garner (by the Police) and the decision to not indict them shocked the nation. This lead to die-ins, rallies, boycotts and riots in the streets. In the middle of this mayhem, NYC Police Officers WenJian Liu and Rafael Ramos were murdered by a mentally deranged Black man who claimed he was seeking revenge for Garner’s death. As Black men and police officers walked around in fear, national talks began about the safety of Black Males when confronted by the Police and
											the state of Black on Black Crime (BOBC). To address both issues, we created the “End Black on Black Crime Project”, which includes the “E Team”, whose membership represents the Top 100 Black Entertainers & Executives in the Country. We conducted a national survey with Black Students and Youth Leaders to select the 100 “E Team” Members because Celebrities, who have more influence over our youth than most parents, will play a major role within the multi-faceted initiative. BOBC is a crisis because those
											in power are disconnected from young Blacks. We failed an entire generation because they believe that a prison culture of sagging pants &#38; killing is the norm. A NY Times article said Black Males are an “Endangered Species”. Unacceptable! We’ve written, a 5 Part Series to bring attention to the groundbreaking film Selma, and to show how the “Dream of Dr. King” could save the Black Male
											and end BOBC.
										</p>
										<p>
											The United States is a great country – in some areas we exceed – in others we are lacking. We are good at Defense, Film, Music, Television, Sports, Science, Computers, and Space Travel. On the other hand when it comes to social issues, we have lost the “War on Drugs & Poverty”, as well as the war Blacks are fighting against Racism, Unemployment, Academic Failure, Economic Inequality, Poor Housing and an unfair Criminal Justice System. Recently President Obama established normal relations with Cuba
											and told the press, “When a policy has failed for 50 years it’s time to do something new.” Like Obama did with Cuba, it’s time for Blacks to play a new tune when it comes to ending BOBC, and 2015 is the best year to drop the new song.
										</p>
										<p>
											Putting an end to BOBC will be the most challenging initiative for Blacks since the Civil Rights Movement. 2015 is a symbolic year for Blacks to use as a platform to end BOBC, as we celebrate the 50th anniversary of the March on Selma (1965) and the 150th anniversary of “Juneteenth” (the end of slavery in 1865). Blacks represent $1.1 trillion in spending power, making them the equivalent to the 16th largest nation on earth, with enough economic clout to easily end BOBC. But it will also take the “Divine Spirit” we pray to, that also guided Dr. King to victory. Before Dr. King’s death Blacks were united and on a roll for justice. The movement stalled after he was killed, leaving behind a “Divided Black Community,” a key ingredient in the recipe for BOBC. We will use the influence of Film, Music, Sports, TV, Publishing and Social Media to attract our youth and then provide the resources to address
											BOBC. Selma is more than a movie; it’s a movement with the spirit to stop BOBC. After watching the film, we knew that Art could uplift the conscious minds of today’s young Blacks and prepare them for the fight of their lives.
										</p>
										<p>
											“We are our Brothers & Sisters Keeper.” With over 37 years of service on the streets and working with those in the “Corporate Suites”, we have been involved with a host of programs addressing BOBC, including the Hip-Hop Against Gun & Gang Violence Project founded in 2012. The initiative teaches participants how to use the positive influence of Hip-Hop and the <span class="bold">“Raptivism Movement”</span> to be more proactive towards ending Gun & Gang Violence. The project has been such a success that it will now be used, along with the influence of the “E Team”, to address BOBC. Hip-Hop was created in the South Bronx during the 70’s out of the spirit of the Civil Rights Movement to address poverty, unemployment, drugs, academic failure and gun and gang violence. Our government is trying to fix the problem, but needs the private sector’s support.
										</p>
										<p>
											America is a “God Fearing Nation” and we must perform our civic, moral and spiritual duty to help put an end to BOBC. It doesn’t matter if you live in “A Shelter, Public Housing, or the Hills of Hollywood”—we are all stakeholders in this life saving initiative and ust step up to the plate. During these troubling times, you are either Part of the Solution or Part of the Problem. “To Whom Much is Given, Much is Required” and your involvement in this historic and monumental venture can increase your “Spiritual Bank
											Account” and earn you a hot “Ticket & VIP Pass” to the “Concert & Party” everyone’s “Dying” to attend; and that’s the one in the “Hereafter!” If your “Third Eye” is open, I don’t have to tell you who’s “Headlining the Show.” A lot of young Blacks and their families are counting on us to take a stand and make this country safer. When Blacks rise up, so does the value of America. With your support we are ready to do what no other generation has accomplished—and that’s to finally put an end to BOBC.
										</p>
				</div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
	