<!-- Page Content -->
    <div class="container">
        <p id="notice"><%= notice %></p>
        <% if admin_signed_in? %>
        <!-- Page Heading/Breadcrumbs -->
        <%= render 'shared/admin_whitebar' %>
        <% else %>
        <%= render 'shared/public_whitebar' %>
        <% end %>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <% if admin_signed_in? %>
                <%= render 'shared/sidebar_admin' %>
                <% else %>
                <%= render 'shared/sidebar_public' %>
            <% end %>
            <!-- Content Column -->
            <div class="col-md-9">
                <div class="stylestatic">
                    <div>
                        <div >
                           <%= image_tag @announcement.image_url(:medium).to_s %>    
                        </div>
                        <h3 >
                            <%= @announcement.ann_title %>
                        </h3>
                            <p >
                            Submitted <%= time_ago_in_words(@announcement.created_at) %> ago.
                            <% if admin_signed_in? %>
                            | &nbsp; <%= link_to 'Back', announcements_path %>&nbsp;
                            
                        |   &nbsp; <%= link_to 'Edit', edit_announcement_path(@announcement) %>&nbsp;
                        |    &nbsp; <%= link_to 'Delete', announcement_path(@announcement),method: :delete, data: { confirm: 'Are you sure?'} %>
                        <% else %>
                        | &nbsp; <%= link_to 'Back', :back %>&nbsp;
                            <% end %>
                            </p>
                            <p >
                                <%= simple_format(@announcement.ann_body) %>
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr class="featurette-divider">
   
