<!-- Page Content -->
    <div class="container">
        <p id="notice"><%= notice %></p>
        <% if admin_signed_in? %>
        <!-- Page Heading/Breadcrumbs -->
        <%= render 'shared/admin_whitebar' %>
        <% else %>
        <%= render 'shared/public_whitebar' %>
        <% end %>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <% if admin_signed_in? %>
                <%= render 'shared/sidebar_admin' %>
                <% else %>
                <%= render 'shared/sidebar_public' %>
            <% end %>
            <!-- Content Column -->
            <div class="col-md-9">
              <div class="stylestatic">
                <h3>New Announcements</h3>
                  <% if admin_signed_in? %>

										<%= render 'form' %>

										<%= link_to 'Back', blogs_path %>

										<% else %>

										<%=link_to "You are not authorized to post new announcements", url: '401.html' %>

									<% end %>
              </div>  
            </div>
        </div>
        <!-- /.row -->

        <hr class="featurette-divider">


