<!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <%= link_to "New Event or Announcement", new_announcement_path, class: "list-group-item" %>
                    <%= link_to "View All Announcements", announcements_path, class: "list-group-item" %>
                    <%= link_to "New Blog Post", new_blog_path, class: "list-group-item" %>
                    <%= link_to "View All Blog Posts", blogs_path, class: "list-group-item" %>
                    <%= link_to "New Photo for Gallery", announcements_path, class: "list-group-item" %>
                </div>
            </div>