<!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <%= link_to "Mission Statement", mission_path, class: "list-group-item" %>
                    <%= link_to "Company History", company_history_path, class: "list-group-item" %>
                    <%= link_to "Company Structure", company_structure_path, class: "list-group-item" %>                    
                    <%= link_to "Start a HHSYC Chapter", startchapter_path, class: "list-group-item" %>
                    
                    <%= link_to "Join HHSYC Now", joinhhsyc_path, class: "list-group-item" %>
                </div>
            </div>